
* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2ECD8;
    text-align: center;
}

h1 {
    font-family: 'Acme', sans-serif;
}

h2 {
  font-family: 'Acme', sans-serif;
  color: #732D2D;
}

h3 {
  font-family: 'Acme', sans-serif;
  color: #732D2D;
}

.header-container h3 {
  color: #D9A13B;
}

.image-container {
  width: 100%;
}

.half-image {
  border-radius: 2%;
  margin-left: 5px;
  margin-right: 5px;
  width: 45%;
}

.full-image {
  width: 91%;
  border-radius: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-fluid{
    background-color: #732D2D;
    color: #F2ECD8;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.data {
  padding: 50px;
  max-width: 60%;
  min-width: 30%;
}

.navbar-nav > * {
    color: #F2ECD8;
}

.header-container {
  position: relative;
  height: auto;
  width: 100%;
  color: #F2ECD8;
}

.responsive {
  width: 100%;
}

footer {
    background-color: #3A5939;
    color: #fff;
    padding: 40px 0;
  }
  
  footer h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #F2ECD8;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-4 {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
  }


  
  @media (min-width: 768px) {
    .col-md-4 {
      width: 25%;
      margin-bottom: 0;
    }
  }
  