
#carouselExample img {
  display: block;
  margin: auto;
}

#carouselExample {
  background-color: #732D2D;
}

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2ECD8;
    text-align: center;
}

a {
  text-decoration: none;
  color: #D9A13B;
}

h3 a{
  text-decoration: underline;
}

h1 {
    font-family: 'Acme', sans-serif;
}

h2 {
  font-family: 'Acme', sans-serif;
  color: #732D2D;
  margin-top: 30px;
}

h3 {
  font-family: 'Acme', sans-serif;
  color: #732D2D;
}

.header-container h3 {
  color: #D9A13B;
}

.button {
  background-color: #D9A13B;
  padding: 10px;
  border: none;
  border-radius: 10%;
}

.button:hover{
  background-color: #ffaa0d;
}

.image-container {
  width: 100%;
  position: relative;
  display: inline;
  color: #F2ECD8;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.image-container h2 {
  color: #F2ECD8;
}


.half-image {
  margin-top: 20px;
  border-radius: 2%;
  margin-left: 5px;
  margin-right: 5px;
  width: 45%;
}

.full-image {
  width: 91%;
  border-radius: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-fluid{
    background-color: #732D2D;
    color: #F2ECD8;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-cabin-rentals {
  text-align: left;
  width: 70%;
  margin: 20px;
  font-size: 1.2rem;
}

.dropdown-container {
  display: flex;
  flex-wrap: wrap;
}

.text-container {
  display: flex;
  margin-left: 20px;
  margin-top: 40px;
  text-align: left;
  width: 70%;
}

.text-container img {
  margin: 20px;
  border-radius: 5%;
}

.centered-text {
  width: 70%;
  text-align: center;
}

.data {
  padding: 50px;
  max-width: 60%;
  min-width: 30%;
}

.navbar-nav > * {
    color: #F2ECD8;
    font-size: 1.2rem;
    font-family: 'Acme', sans-serif;
}

.header-container {
  position: relative;
  height: auto;
  width: 100%;
  color: #F2ECD8;
}

.bear-ridge-images-container {
  width: 100%;
  display: flex;
  padding: 10px;
}

.vertical-column {
  display: flex;
  height: auto;
  flex-direction: column;
  padding: 10px;
}

.responsive {
  width: 100%;
}



footer {
    background-color: #3A5939;
    color: #fff;
    padding: 40px 0;
    margin-top: 30px;
  }
  
  footer h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #F2ECD8;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }

  footer ul li a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #F2ECD8;
  }

  footer ul li a:hover{
    margin-bottom: 10px;
    text-decoration: none;
    color: #D9A13B;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-4 {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
  }


  @media (min-width: 768px) {
    .col-md-4 {
      width: 25%;
      margin-bottom: 0;
    }

    
  }
